{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }}
    {{ ' - Qualification' }}
{% endblock %}
{% block header %}Qualification{% endblock %}
{% block content %}
    <div class="content  col-lg-offset-4 col-lg-4">
        <table class="table table-bordered text-center">
            {% for country in countries %}
                <tr>
                    <td class="column col-md-1"><a href="{{ path('countryView', {'countryName': country.name}) }}"><img src="{{ asset("images/#{country.flag}") }}"></a></td>
                    <td><a href="{{ path('teamView', {'teamName': country.name}) }}">{{ country.name }}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}