{% extends '::base.html.twig' %}

{% block title %}
    {{ parent() }}
    {{ ' - Qualification' }}
{% endblock %}
{% block header %}Qualification{% endblock %}
{% block content %}
    <div class="content col-lg-offset-2 col-lg-8">
        <div class="table-responsive text-center">
            <table class="table table-striped table-hover">
                {% for country in countries %}
                    <tr>
                        <td class="column col-md-1"><a href="{{ path('countryView', {'countryName': country.name}) }}"><img class="img-thumbnail" src="{{ asset("images/#{country.flag}") }}"></a></td>
                        <td><a href="{{ path('teamView', {'teamName': country.name}) }}">{{ country.name }} national football team</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}